@model SistemaDeControlDeNotas.Models.ModifyCategoryIndexModel
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <title>Modificar Categoria</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!--css-->
    <link rel="stylesheet" type="text/css" href="~/css/ModificarCategoria.css">

</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
        <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>-->
        <a class="navbar-brand hidden-lg-up" href="#">Modificar Categoria</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand hidden-md-down" href="#">Modificar Categoria</a>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!--<a class="nav-link" href="#">Volver</a>-->
                @Html.ActionLink("Volver", "Back", Model.CurrentUser, new { @class = "nav-link" })
            </li>
        </ul>
        <!--</div>-->
</nav>




    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="~/img/ModificarCategoria.png" />
                </div>
                <form class="col-12" method="get">
                    <div class="form-group" id="IdUsuario-group">
                        @Html.Label("ID de la categoria")
                        @Html.TextBoxFor(x => x.ModifyCategory.CategoryID, new { @class = "form-control", @placeholder = "ID de la categoria", @disabled = "disabled" })
                    </div>
                    <div class="form-group" id="IdUsuario-group">
                        @Html.Label("Nombre de la categoria")
                        @Html.TextBoxFor(x => x.ModifyCategory.Name, new { @class = "form-control", @placeholder = "Nombre", @name = "Nombre" })
                    </div>
                    <div class="form-group" id="nombre-group">
                        @Html.Label("Descripcion de la categoria")
                        @Html.TextBoxFor(x => x.ModifyCategory.Description, new { @class = "form-control", @placeholder = "Descripcion", @name = "Descripcion" })
                    </div>
                    <button type="submit" class="btn btn-primary">  Modificar </button>
                </form>

            </div>
        </div>
    </div>
</body>
</html>