@model SistemaDeControlDeNotas.Models.UserIndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <title>Agregar usuario</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina -->


    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!--css-->
    <link rel="stylesheet" type="text/css" href="~/css/AgregarUsuario.css">

</head>

<html>
<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
        <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>-->
        <a class="navbar-brand hidden-lg-up" href="#">Nueva Usuario</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand hidden-md-down" href="#">Nuevo Usuario</a>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!--<a class="nav-link" href="#">Volver</a>-->
                @Html.ActionLink("Volver", "Index", Model.CurrentUser, new { @class = "nav-link" })
            </li>
        </ul>
        <!--</div>-->
    </nav>




    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="~/img/usermas.png" />
                </div>
                <form class="col-12" name="newUserForm" action="NewUser" method="post">
                    <div class="form-group" id="nombre-group">
                        @Html.Label("Nombre")
                        @Html.TextBoxFor(x => x.NewUser.Name, new { @class = "form-control", @placeholder = "Nombre" })
                    </div>
                    <div class="form-group" id="apellido1-group">
                        @Html.Label("Primer apellido")
                        @Html.TextBoxFor(x => x.NewUser.FirstLastName, new { @class = "form-control", @placeholder = "Apellido 1" })
                        @Html.ValidationMessageFor(x => x.NewUser.FirstLastName)
                    </div>
                    <div class="form-group" id="apellido2-group">
                        @Html.Label("Segundo apellido")
                        @Html.TextBoxFor(x => x.NewUser.SecondLastName, new { @class = "form-control", @placeholder = "Apellido 2" })
                        @Html.ValidationMessageFor(x => x.NewUser.SecondLastName)
                    </div>
                    <div class="form-group" id="cedula-group">
                        @Html.Label("Cedula")
                        @Html.TextBoxFor(x => x.NewUser.IdNumber, new { @class = "form-control", @placeholder = "Cedula" })
                        @Html.ValidationMessageFor(x => x.NewUser.IdNumber)
                    </div>
                    <div class="form-group" id="correo-group">
                        @Html.Label("Correo electronico")
                        @Html.TextBoxFor(x => x.NewUser.Email, new { @class = "form-control", @placeholder = "Correo electronico" })
                        @Html.ValidationMessageFor(x => x.NewUser.Email)
                    </div>
                    <div class="form-group" id="GrupoUsuario-group">
                        @Html.Label("Seleccione un grupo")
                        @Html.DropDownListFor(x => x.NewUser.UserGroup, new SelectList(Model.NewUser.GroupsList.Groups, "Key", "Value"), new { @class = "form-control", @placeholder = "Grupos", @id = "dropdownMenuBoton" })
                        @Html.ValidationMessageFor(x => x.NewUser.UserGroup)
                    </div>
                    <div class="form-group" id="Perfil-group">
                        @Html.Label("Seleccione un perfil")
                        @Html.DropDownListFor(x => x.NewUser.UserProfile, new List<SelectListItem> {
                                                                               new SelectListItem { Value = "1" , Text = "Profesor" },
                                                                               new SelectListItem { Value = "2" , Text = "Estudiante" }
                                                                                            }, new { @class = "form-control", @placeholder = "Perfil" })
                    </div>
                    <div class="form-group" id="IdUsuario-group">
                        @Html.Label("Contraseña")
                        @Html.PasswordFor(x => x.NewUser.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                        @Html.ValidationMessageFor(x => x.NewUser.Password)
                        @Html.HiddenFor(x => x.CurrentUser.Email, new { @name = "Email" })
                        @Html.HiddenFor(x => x.CurrentUser.UserProfile, new { @name = "UserProfile" })
                    </div>

                    @if (Model.NewUser.GroupsList.Groups.ContainsValue("No hay grupos disponibles"))
                    {
                        @Html.Label("Debe crear un grupo antes de poder crear un usuario")
                        <button type="submit" class="btn btn-primary" disabled="disabled">  Agregar </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary">  Agregar </button>
                    }
                </form>

            </div>
        </div>
    </div>
</body>
</html>
