@model SistemaDeControlDeNotas.Models.UserIndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <title>Modificar Usuario</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!--css-->
    <link rel="stylesheet" type="text/css" href="~/css/ModificarUsuario.css">

</head>

<html>
<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
        <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>-->
        <a class="navbar-brand hidden-lg-up" href="#">Modificar Usuario</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand hidden-md-down" href="#">Modificar Usuario</a>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!--<a class="nav-link" href="#">Volver</a>-->
                @Html.ActionLink("Volver", "Back", Model.CurrentUser, new { @class = "nav-link" })
            </li>
        </ul>
        <!--</div>-->
    </nav>

    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="~/img/usermodify.png" />
                </div>
                <div class="dropdown mb-3">

                    <form class="col-12" action="ListUser" method="post">
                        @Html.Label(Model.OperationResult.ToString(), new { @class = "form-control" })
                        @Html.HiddenFor(x => x.CurrentUser.Email, new { @name = "Email" })
                        @Html.HiddenFor(x => x.CurrentUser.UserProfile, new { @name = "UserProfile" })
                        @Html.HiddenFor(x => x.CurrentUser.Password, new { @name = "Password" })
                    </form>

                </div>
            </div>

        </div>
    </div>
<<body>
</html>